
@media screen and (max-width: 480px){
    body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
}
/* Header for all pages */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(164, 158, 158);
    text-align: center;
    font-family:'Trebuchet MS';
    font-size: large;
}
/* Background for all pages */
.home {
    background-color: rgb(76, 180, 214);
}
/* Styles the content in first section on the Home Page*/
#missionStatement {
    display: flex;
    justify-content: space-between;
    padding: 30px; 
}
/* Styles the text next to the picture on the Home Page */
#missionText {
    padding-right: 20px;   
}
/* Styles the quote section on the Home Page */
#quote {
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}
/* Footer for all pages*/
.footer {
    background-color: rgb(76, 180, 214);
    text-align: center;
}
/* Styles the description at the top of each page */
#pageIntro {
    display: grid;
    text-align: center;
}
/* Styles the title of each section on the About Page */
#hobbyTitle {
    font-family: Georgia;
    text-align: center;
    font-size: 20px;
}
/* Styles the content of each section of the About Page*/
.hobbies {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
/* Styles the text in each section on the About Page */
#hobbyText {
    padding-left: 20px;
    padding-right: 10px;
}
/* Styles each project section on the Portfolio Page */
.project {
    background: rgb(203, 200, 200);
    text-align: center;
    padding-top: 1px;   
}
